* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #789c78;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px #000000 solid;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search{
    display: flex;
    align-items: center;
    background-color: #e6f5e6;
    border-radius: 5px;
    gap: 1px;
    width: 350px;
}

.actions{
    display: flex;
    align-items: center;
    gap: 20px;
}
.actions button{
    border: none;
    background: transparent;
}
.actions img{
    width: 40px;
}

/* DAQUI PARA CIMA É A NAV GLOBAL PARA TODAS AS PÁGINAS */

.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartTitle{
    background-color: #ddf2dd;
    height: 80px;
    width: 80%;
    margin-top: 70px;
    border: 1px #000000 solid;
    border-radius: 10px;
    padding-inline: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr auto;
    justify-content: space-between;
}


/* DAQUI PARA BAIXO É O FOOTER GLOBAL PARA TODAS AS PÁGINAS */

footer{
    background-color: #678567;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialMedias{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.socialMedias img{
    width: 90px;
}
.contact{
    color: #334233;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.contact img{
    width: 30px;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}